html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-layout-header {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

::-moz-scrollbar{
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#formStaff{
  padding: 100px;
}
.banner{
  width:100%;
  height:6rem
}

.description-form {
  width: 100%;
  height:6rem;
  background-color: 'red';
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textForm{
  font-family: Roboto;
  font-weight: bolder;
  font-size:x-large;
  color: #000;
}
.rowForm{
  padding-top: 2rem;
}

.line{
  width: 80%;
  height:0.2rem;
  background-color: #000;
  margin-top: 1.4rem;
}
.flexRow{
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.labelForm{
  width: 20%;
}