html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-layout-header {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

::-moz-scrollbar{
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* CSS Document */

#outer {
	margin:auto;
	min-height:100%;
	margin-top:-67px;/*footer height - this drags the outer 100px up through the top of the monitor */
	padding:1px;
}

div#header {
	border-top:0px solid #fff; /* soak up negative margin and allows header to start at top of page*/
	
}
	div#divlogo {
		margin-top:0px;
		margin-left:0px;
		float:left;
	}
		img#imglogo {
			margin-top:0px;
			margin-left:0px;
		}
		
	div#extranotice {
		margin-top:0px;
		margin-left:180px;
	}
		
div#content {
	margin-top:30px;
}

.spacer_leftmargin_15px {
	margin-left:15px;
}

div#content_pages {
	margin-top:40px;
	margin-left:0px;
}
div#content_pages2 {
	margin-top:60px;
	margin-left:0;
	margin-right:0;
	width:100%;
}

div#content_pages_contacts {
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:686px;
}

	div#div_imgmastpic_and_hr {
		float:left;
		width:686px;
		padding-right:65px;
	}                 
	div#divmap {
		margin-top:10px;
		margin-left:10px;
		clear:both;
	}                                                                                                                                                             
	div#content_pages_writeup {

	}  
	div#content_pages_writeup_contacts {
		margin-top:30px;
		margin-left:10px;
		width:686px;
		clear:both;
	}       
	
.simpletext{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #505050;
	line-height: 18px;
}

.simpletext_16_courier {
	font-family:"Courier New";
	font-size: 16px;
	color: #000000;
	line-height: 18px;
}

.simpletext_16_courier_cc0000 {
	font-family:"Courier New";
	font-size: 16px;
	color: #CC0000;
	line-height: 18px;
}

.simpletext_11{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
	color: #505050;
	line-height: 18px;
}

.welcomeloggername_13_2B65EC{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #000000;
	line-height: 18px;
}

.simpletext_18{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	color: #000000;
}

.fieldtitle_bold_18_505050 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#505050;
}

.fieldtitle_bold_14_505050 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#505050;
}

.fieldtitle_bold_18 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#000000;
}

.fieldtitle_bold_14 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
}

.fieldtitle_bold_10 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000000;
}

.fieldtitle_bold_11 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

.fieldtitle_italic_11 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
	font-style:italic;
	color:#333333;
	text-decoration:none;
}

.fieldtitle_bold_12 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}

.fieldtitle_italic_12 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	font-style:italic;
	color:#333333;
	text-decoration:none;
}

.fieldtitle_bold_12_underline {
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	color:#000000;
}

.bold {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	color: #505050;
}

.bold12 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	color: #505050;
}


.fieldtitle {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
}

.fieldtitle_bold_13 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000000;
}

.alertlabel_24_cc0000{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:24px;
	font-style:normal;
	color:#CC0000;
	font-weight:normal;
}

.schoolname{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
	font-weight:bold;
	color: #666666;
}

table.tbldiv1 {
	border: 1px #919191;
	border-collapse: collapse;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
}
	table.tbldiv1 td.tbldiv1_header {
		vertical-align:top;
		font-weight:bold;
	}

table.tbldiv2 {
	border: 1px #919191;
	border-collapse: collapse;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:9px;
}
	table.tbldiv2 td.tbldiv2_header {
		vertical-align:top;
		font-weight: bold;
	}
	
	/*FLOATING BOX*/
	.floating-box {
		display: inline-block;
		margin-left:20px;
		margin-top:20px;
	}
	
	.floating-box2 {
		display: inline-block;
	}
		
	/*SOURCE: http://jimmybonney.com/articles/column_header_rotation_css/*/		
	.table-header-rotated th.row-header{
	  width: auto;
	}
	
	.table-header-rotated td{
	  width: 50px;
	  border-top: 1px solid #000000;
	  border-left: 1px solid #000000;
	  border-right: 1px solid #000000;
	  vertical-align: middle;
	  text-align: center;
	}
	
	.table-header-rotated th.rotate-45{
	  height: 80px;
	  width: 50px;
	  min-width: 50px;
	  max-width: 50px;
	  position: relative;
	  vertical-align: bottom;
	  padding: 0;
	  font-size: 12px;
	  line-height: 0.8;
	}
	
	.table-header-rotated th.rotate-45 > div{
	  position: relative;
	  top: 0px;
	  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
	  height: 100%;
	  -ms-transform:skew(-45deg,0deg);
	  -moz-transform:skew(-45deg,0deg);
	  -webkit-transform:skew(-45deg,0deg);
	  -o-transform:skew(-45deg,0deg);
	  transform:skew(-45deg,0deg);
	  overflow: hidden;
	  border-left: 1px solid #000000;
	  border-right: 1px solid #000000;
	  border-top: 1px solid #000000;
	}
	
	.table-header-rotated th.rotate-45 span {
	  -ms-transform:skew(45deg,0deg) rotate(315deg);
	  -moz-transform:skew(45deg,0deg) rotate(315deg);
	  -webkit-transform:skew(45deg,0deg) rotate(315deg);
	  -o-transform:skew(45deg,0deg) rotate(315deg);
	  transform:skew(45deg,0deg) rotate(315deg);
	  position: absolute;
	  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
	  left: -18px; /*Because it looked good, but there is probably a mathematical link here as well*/
	  display: inline-block;
	  width: 100%;
	  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
	  text-align: left;
	   white-space: nowrap; /*whether to display in one line or not*/
	}